.nav-wrap{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(5, 5, 5);
    height: 80px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav a, #username {
    color: white;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 25px;
    cursor: pointer;
}

.nav a:hover, #username {
    color: rgb(0, 170, 0);
}

.home-button{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 90, 0);
    color: rgb(240, 240, 240);
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
}

.home-button:hover{
    background-color: rgb(240, 240, 240);
    color: rgb(0, 90, 0);
    cursor: pointer;
}

