.player button {
    width: 160px;
    height: 80px;
    background: rgb(0, 31, 255);
    background: linear-gradient(
        177deg,
        rgba(0, 31, 255, 1) 0%,
        rgba(0, 202, 255, 1) 100%
    );

    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
}
